body{

font-family: Segoe UI;

padding:20px;

background:#f4f4f4;

}

button{

width:120px;

height:40px;

margin:10px;

background:#0078D4;

color:white;

border:none;

border-radius:6px;

}

button:hover{

background:#005a9e;

}